<h3>Student Name: <%= @student.name %></h3>
<h3>Grade: <%= @student.grade %></h3>

<% @course.each do |course| %>
<br>
<h3>Course Name: <%= course.name %></h3>
<h3>Course Topic: <%= course.topic %></h3>
<% end %>
